.carousel-item {
    display: flex;

  }
  
  .image-container {

    height: 50vh;
    width: 30vw;

  }
  .image-container img{
    
    height: 50vh;
    width: 30vw;
    border-radius: 10%;
  }
   
  .content-container {

    position: relative;
    background-color: white;
 padding: 2rem;

    /* bottom: 30px; */
    /* right: 40px; */
    /* display: inline-flex; */
    width: 40vw;
    font-family: "Playfair Display", serif;
    height: 40vh;
  }
.itemss{
    display: flex;
    gap:2rem;
    /* border: 2px solid red; */
    justify-content: center;
}

.content-container p:first-child{
    font-size: 3rem;
    padding-bottom: .5rem;
    /* padding-top: 1rem; */
}
.content-container p:nth-child(2){
    font-size: 2rem;
    padding-bottom: 1rem;
}
.content-container p:nth-child(3){
    font-size: 1rem;
    padding-bottom: 1rem;
}